*{
  margin: 0;
  padding: 0;
}

.body{
  background-color: #F5F7FB;
}

.start-button{
  background-color: #4D5B9E;
  height: 52px;
  width: 193px;
  margin-top: 29px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFFFF;
  border: none;
}

.start-button:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.start-button:focus{
  outline: none;
}

.main-class{
  margin-top: 300px;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.main-class h1{
  padding: 7px;
  color: #293264;
}