*{
  margin: 0;
  padding: 0;
}

.body{
  background-color: #F5F7FB;
}

.start-button{
  background-color: #4D5B9E;
  height: 52px;
  width: 193px;
  margin-top: 29px;
  border-radius: 10px;
  font-size: 1rem;
  color: #FFFFFF;
  border: none;
}

.start-button:active, .submit-button:active, .reset-button:active{ 
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.start-button:focus, .submit-button:focus, .reset-button:focus{
  outline: none;
}

.main-class{
  margin-top: 300px;
  align-items: center;
  text-align: center;
  height: 50%;
  width: 100vw;
}

.main-class h1{
  padding: 7px;
  color: #293264;
}

.form{
  margin-left: 75px;
  margin-top: 40px;
}

.submit-button{
  background-color: #4D5B9E;
  border: none;
  height: 35px;
  width: 120px;
  margin-left: 35%;
  margin-top: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

.reset{
  display: flex;
  margin-top: 10px;
}

.reset-button{
  background-color: #4D5B9E;
  border: none;
  height: 35px;
  width: 120px;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 20px;
}

.reset p{
  margin-top: 27px;
  margin-right: 45px;
  margin-left: 30%;
}

.button {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.answers-button label{
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 5px 20px;
  cursor: pointer;
}

.answers-button h2{
  margin: 20px 0;
}

.answers-button input[type = "radio"]{
  opacity: 0;
}